<?php
/** @var Sheep_Debug_Block_View $this */

$data = $this->getData('array');
$fields = $this->getData('fields');
$noDataLabel = $this->getData('no_data_label');
$tableId = 'array_table_' . round(microtime(true) * 1000);
?>

<?php if ($data && count($data)): ?>
    <?php ksort($data) ?>
    <table>
        <thead>
        <tr>
            <th scope="col" class="nowrap sortable" onclick="sortTable(this, 0, '<?php echo $tableId ?>')"># id <span class="text-muted">&#9650;</span></th>
            <?php foreach ($fields as $id => $field): ?>
                <th scope="col" class="nowrap sortable" onclick="sortTable(this, <?php echo $id+1 ?>, '<?php echo $tableId ?>')"><?php echo $this->renderFieldLabel($field) ?><span></span></th>
            <?php endforeach; ?>
        </tr>
        </thead>

        <tbody id="<?php echo $tableId ?>">
        <?php $i=1; foreach ($data as $row): ?>
        <tr>
            <td><?php echo $i++ ?></td>
            <?php foreach ($fields as $field): ?>
                <td><?php echo $this->renderValue($row[$field]); ?></td>
            <?php endforeach; ?>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <div class="empty"><?php echo $this->__($noDataLabel); ?></div>
<?php endif; ?>
