<?php
/** @var Sheep_Debug_Block_View $this */
/* @var $url Sheep_Debug_Helper_Url */
$url = Mage::helper('sheep_debug/url');
$info = $this->getRequestInfo();
$caches = $info->getCaches();
$metrics = $info->getCacheMetrics();
$iconYes   = '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 12 12" enable-background="new 0 0 12 12" xml:space="preserve">
    <path fill="#5E976E" d="M12,3.1c0,0.4-0.1,0.8-0.4,1.1L5.9,9.8c-0.3,0.3-0.6,0.4-1,0.4c-0.4,0-0.7-0.1-1-0.4L0.4,6.3
    C0.1,6,0,5.6,0,5.2c0-0.4,0.2-0.7,0.4-0.9C0.6,4,1,3.9,1.3,3.9c0.4,0,0.8,0.1,1.1,0.4l2.5,2.5l4.7-4.7c0.3-0.3,0.7-0.4,1-0.4
    c0.4,0,0.7,0.2,0.9,0.4C11.8,2.4,12,2.7,12,3.1z"/>
</svg>';
$iconNo    = '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 12 12" enable-background="new 0 0 12 12" xml:space="preserve">
    <path fill="#B0413E" d="M10.4,8.4L8,6l2.4-2.4c0.8-0.8,0.7-1.6,0.2-2.2C10,0.9,9.2,0.8,8.4,1.6L6,4L3.6,1.6C2.8,0.8,2,0.9,1.4,1.4
    C0.9,2,0.8,2.8,1.6,3.6L4,6L1.6,8.4C0.8,9.2,0.9,10,1.4,10.6c0.6,0.6,1.4,0.6,2.2-0.2L6,8l2.4,2.4c0.8,0.8,1.6,0.7,2.2,0.2
    C11.1,10,11.2,9.2,10.4,8.4z"/>
</svg>';

$cacheTypes = Mage::app()->getCacheInstance()->getTypes();
?>
<h2><?php echo $this->__('Cache'); ?></h2>

<div class="metrics">
    <?php foreach ($metrics as $label => $value): ?>
    <div class="metric">
        <span class="value">
            <?php echo $value; ?>
        </span>
        <span class="label"><?php echo $this->__(uc_words($label)); ?></span>
    </div>
    <?php endforeach; ?>
</div>
<div class="sf-tabs">
    <div class="tab">
        <h3 class="tab-title"><?php echo $this->__('Calls'); ?></h3>

        <div class="tab-content">
            <h3><?php echo $this->__('Cache Calls'); ?></h3>
            <p class="label status-warning"><strong><?php echo $this->__('Not all cache calls can be here. Only calls via Mage_Core_Model_Cache can be seen here.'); ?></strong></p>
            <table>
                <thead>
                <tr>
                    <th scope="col" class="nowrap sortable" onclick="sortTable(this, 0, 'caches')"># id <span class="text-muted">&#9650;</span></th>
                    <th scope="col" class="nowrap sortable" onclick="sortTable(this, 1, 'caches')">Action<span></span></th>
                    <th scope="col" class="nowrap sortable" onclick="sortTable(this, 2, 'caches')">Cache ID<span></span></th>
                    <th scope="col" class="nowrap sortable" onclick="sortTable(this, 3, 'caches')">Hit<span></span></th>
                    <th scope="col" class="nowrap sortable" onclick="sortTable(this, 4, 'caches')">Time<span></span></th>
                </tr>
                </thead>

                <tbody id="caches">
                <?php $i=1; foreach ($info->getCaches() as $log): ?>
                    <tr>
                        <td><?php echo $i++ ?></td>
                        <td><?php echo $log['action']?></td>
                        <td>
                            <?php echo $log['id']?>
                            <?php if (isset($log['tags']) && $log['tags']): ?>
                                <br><small>Tags: <?php echo implode(', ', $log['tags']) ?></small>
                            <?php endif; ?>
                        </td>
                        <td>
                            <?php if ($log['action'] === 'load'): ?>
                                <?php if ($log['hit']): ?>
                                    <span class="label status-success">Hit</span>
                                <?php else: ?>
                                    <span class="label status-error">Miss</span>
                                <?php endif ?>
                            <?php else: ?>
                                -
                            <?php endif; ?>
                        </td>
                        <td><?php echo sprintf('%d ms', $log['time'] * 1000); ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab">
        <h3 class="tab-title"><?php echo $this->__('Config'); ?></h3>

        <div class="tab-content">

            <h3>Cache Configuration</h3>
            <table class="cache-table">
                <thead>
                <tr>
                    <th class="key">Id</th>
                    <th>Type</th>
                    <th>Run Status</th>
                    <th class="text-right">
                        <a href="<?php echo $url->getUrl('cache/flush'); ?>" class="btn btn-sm">Flush Caches</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($cacheTypes as $cache): ?>
                    <tr>
                        <td><?php echo $cache['id'] ?></td>
                        <td><?php echo $cache['cache_type'] ?></td>
                        <td>
                            <?php echo $cache['status'] ? $iconYes : $iconNo ?>
                        </td>
                        <td class="text-right">
                            <?php if ($cache['status']): ?>
                                <a href="<?php echo $url->getUrl('cache/clean', array('type' => $cache['id'])) ?>"
                                   class="btn btn-sm">Clear</a>
                                <a href="<?php echo $url->getUrl('cache/disable', array('type' => $cache['id'])) ?>"
                                   class="btn btn-sm">Disable</a>
                            <?php else: ?>
                                <a href="<?php echo $url->getUrl('cache/enable', array('type' => $cache['id'])) ?>"
                                   class="btn btn-sm">Enable</a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>

            <h3>
                Cache Backend<br>
                <small><?php echo $this->getCacheClassName() ?></small>
            </h3>
            <table>
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->getBackendCacheOptions() as $key => $value): ?>
                    <tr>
                        <td class="nowrap"><?php echo $key ?> </td>
                        <td class="nowrap"><?php echo $value ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>