<?php
/** @var Sheep_Debug_Block_View $this */

$info = $this->getRequestInfo();

$events = $info->getEvents();
$observers = $info->getObservers();

?>
<h2><?php echo $this->__('Events'); ?></h2>

<?php if (!count($events)): ?>
    <p class="label status-warning"><strong><?php echo $this->__('You need to enable Varien Profiler to capture event information.'); ?></strong></p>
<?php endif; ?>
<div class="metrics">
    <div class="metric">
        <span class="value">
            <?php echo $this->formatNumber($info->getEventsTime() * 1000, 0) ?>
            <span class="unit"><?php echo $this->__('ms'); ?></span>
        </span>
        <span class="label"><?php echo $this->__('Total time'); ?></span>
    </div>
</div>

<div class="sf-tabs">
    <div class="tab <?php if (!$events): ?>disabled<?php endif;?>">
        <h3 class="tab-title">
            <?php echo $this->__('Events'); ?>
            <span class="badge"><?php echo count($events) ?></span>
        </h3>

        <div class="tab-content">
            <h3><?php echo $this->__('Events'); ?></h3>
            <p class="help"><?php echo $this->__('All events raised during request.'); ?></p>

            <?php echo $this->renderArrayFields($events) ?>
        </div>
    </div>

    <div class="tab <?php if(!$observers): ?>disabled<?php endif; ?>">
        <h3 class="tab-title">
            <?php echo $this->__('Observers'); ?>
            <span class="badge"><?php echo count($observers) ?></span>
        </h3>

        <div class="tab-content">
            <h3><?php echo $this->__('Observers'); ?></h3>
            <p class="help"><?php echo $this->__('All observers executed during current request.<'); ?>/p>

            <?php echo $this->renderArrayFields($observers) ?>
        </div>
    </div>

</div>
