<?php
/** @var Sheep_Debug_Block_View $this */

$info = $this->getRequestInfo();
$timerData = Mage::helper('sheep_debug/performance')->convertTimers($info);

?>
<h2><?php echo $this->__('Performance metrics'); ?></h2>

<div class="metrics">
    <div class="metric">
        <span class="value">
            <?php echo $this->formatNumber($info->getTime(), 0) ?>
            <span class="unit"><?php echo $this->__('ms'); ?></span>
        </span>
        <span class="label"><?php echo $this->__('Total execution time'); ?></span>
    </div>

    <div class="metric">
        <span class="value">
            <?php echo $this->formatNumber($info->getPeakMemory() / pow(1024, 2)) ?>
            <span class="unit"><?php echo $this->__('MB'); ?></span></span>
        <span class="label"><?php echo $this->__('Peak of memory allocated by PHP / memory_get_peak_usage()'); ?></span>
    </div>
</div>

<div class="sf-tabs">
    <div class="tab">
        <h3 class="tab-title"><?php echo $this->__('Profiler Table'); ?></h3>
        <div class="tab-content">
            <h3><?php echo $this->__('Profiler Table'); ?></h3>
            <p class="help"><?php echo $this->__('Profiler data collected during current request.<'); ?></p>
            <?php echo $this->renderArrayFields($info->getProfilerData()) ?>
        </div>
    </div>

    <div class="tab">
        <h3 class="tab-title"><?php echo $this->__('Stack Tree'); ?></h3>
        <div class="tab-content">
            <?php echo $this->renderStackTree($info->getStackLog()) ?>
        </div>
    </div>
</div>
