<?php
/** @var Sheep_Debug_Block_View $this */

$info = $this->getRequestInfo();
?>
<h2><?php echo $this->__('Log Messages'); ?></h2>

<div class="sf-tabs">
    <?php $row = 0; ?>
    <?php foreach ($info->getRequestLogging() as $resource => $messages): ?>
        <?php $lineCount = count($messages) ?>
        <div class="tab <?php if (!$lineCount):?>disabled<?php endif; ?>" >
            <h3 class="tab-title">
                <?php echo basename($resource); ?>
                <span class="badge"><?php echo $lineCount ?></span>
            </h3>

            <div class="tab-content">
                <?php if ($lineCount): ?>
                    <div class="text-small font-normal">
                        <a class="link-inverse"
                           href="<?php echo Mage::helper('sheep_debug/url')->getViewRequestLogUrl($info->getToken(), base64_encode($resource)) ?>"
                           onclick="return fetchData(this);"
                           title="<?php echo $this->__('Show Logs'); ?>"
                           data-target-id="log-<?php echo $row ?>">
                            <?php echo $this->__('Show Logs'); ?>
                        </a>
                    </div>

                    <div class="sf-dump">
                        <pre id="log-<?php echo $row ?>"></pre>
                    </div>
                <?php else: ?>
                    <div class="empty">
                        <p><?php echo $this->__('No log messages available.'); ?></p>
                    </div>
                <?php endif; ?>
            </div>
        </div>
        <?php $row++; ?>
    <?php endforeach; ?>
</div>
