<?php
/* @var $this Sheep_Debug_Block_Util */
/* @var $url Sheep_Debug_Helper_Url */
$url = Mage::helper('sheep_debug/url');
$info = $this->getRequestInfo();

$cacheTypes = Mage::app()->getCacheInstance()->getTypes();
?>

<div class="sf-toolbar-block">
    <a href="<?php echo $this->getRequestViewUrl('cache') ?>">
        <div class="sf-toolbar-icon">
            <svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path fill="#AAAAAA" d="M1168 1216q0 33-23.5 56.5t-56.5 23.5-56.5-23.5-23.5-56.5 23.5-56.5 56.5-23.5 56.5 23.5 23.5 56.5zm256 0q0 33-23.5 56.5t-56.5 23.5-56.5-23.5-23.5-56.5 23.5-56.5 56.5-23.5 56.5 23.5 23.5 56.5zm112 160v-320q0-13-9.5-22.5t-22.5-9.5h-1216q-13 0-22.5 9.5t-9.5 22.5v320q0 13 9.5 22.5t22.5 9.5h1216q13 0 22.5-9.5t9.5-22.5zm-1230-480h1180l-157-482q-4-13-16-21.5t-26-8.5h-782q-14 0-26 8.5t-16 21.5zm1358 160v320q0 66-47 113t-113 47h-1216q-66 0-113-47t-47-113v-320q0-25 16-75l197-606q17-53 63-86t101-33h782q55 0 101 33t63 86l197 606q16 50 16 75z"/>
            </svg>
            <span class="sf-toolbar-value"><?php echo count($this->getRequestInfo()->getCaches()) ?></span>
            <span class="sf-toolbar-info-piece-additional-detail">
                <span class="sf-toolbar-label">in</span>
                <span class="sf-toolbar-value"><?php echo sprintf('%0.0f', $this->getRequestInfo()->getCacheTime() * 1000) ?></span>
                <span class="sf-toolbar-label">ms</span>
            </span>
        </div>
    </a>

    <div class="sf-toolbar-info">
        <div class="sf-toolbar-info-group">
            <?php foreach ($cacheTypes as $cache): ?>
                <div class="sf-toolbar-info-piece">
                    <b><?php echo uc_words($cache->getData('id'), ' ')?></b>
                    <?php if ($cache->getData('status') == 1): ?>
                        <span class="sf-toolbar-status sf-toolbar-status-green">Yes</span>
                    <?php else:?>
                        <span class="sf-toolbar-status">No</span>
                    <?php endif;?>
                    &nbsp;
                    <?php if ($cache->getData('status')): ?>
                        <a href="<?php echo $url->getUrl('cache/clean', array('type' => $cache['id'])) ?>">Clear</a>
                        /
                        <a href="<?php echo $url->getUrl('cache/disable', array('type' => $cache['id'])) ?>">Disable</a>
                    <?php else: ?>
                        <a href="<?php echo $url->getUrl('cache/enable', array('type' => $cache['id'])) ?>">Enable</a>
                    <?php endif; ?>
                </div>

            <?php endforeach; ?>
        </div>

        <div class="sf-toolbar-info-group" >
            <div class="sf-toolbar-info-piece" style="text-align: right; display: block;">
                <span><a href="<?php echo $url->getUrl('cache/flush') ?>">Flush</a></span>
            </div>
        </div>

    </div>
</div>
