<?php
/** @var Sheep_Debug_Block_Config $this */
?>


<div class="sf-toolbar-block sf-toolbar-block-config sf-toolbar-block-right">
    <a href="<?php echo $this->getRequestViewUrl('config') ?>">
        <div class="sf-toolbar-icon">
            <span class="sf-toolbar-label">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svgMageLogo" width="24" xml:space="preserve" height="24" viewBox="0 0 53.692 62" baseProfile="" version="1.1" y="0px" x="0px">
                <g fill="#AAA">
                    <path d="m26.845 8.857"/><polygon points="53.692 15.5 53.692 46.5 46.021 50.929 46.021 19.929 26.845 8.857 7.67 19.928 7.67 50.929 0 46.5 0 15.5 26.845 0"/><polygon points="26.847 62 15.341 55.356 15.341 24.357 23.011 19.928 23.011 50.929 26.845 53.257 30.682 50.929 30.682 19.929 38.353 24.357 38.353 55.356"/>
                </g>
            </svg>
            </span>
        <span class="sf-toolbar-value"><?php echo $this->getMagentoVersion() ?></span>
        </div>
    </a>

    <div class="sf-toolbar-info">

        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('Profiler Token'); ?></b>
                <span>
                    <?php if ($this->getRequestInfo()->getToken()): ?>
                        <a href="<?php echo $this->getRequestViewUrl() ?>"><?php echo $this->escapeHtml($this->getRequestInfo()->getToken()); ?></a>
                    <?php else: ?>
                        <i><?php echo $this->__('Not Saved') ?></i>
                    <?php endif; ?>
                </span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('Store / Website'); ?></b>
                <span><?php echo $this->escapeHtml($this->getCurrentStore()); ?></span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('Developer Mode'); ?></b>
                    <span>
                        <?php if ($this->isDeveloperMode()): ?>
                            <span class="sf-toolbar-status sf-toolbar-status-green"><?php echo $this->__('on'); ?></span>
                        <?php else: ?>
                            <span class="sf-toolbar-status sf-toolbar-status-red"><?php echo $this->__('off'); ?></span>
                        <?php endif; ?>
                    </span>
            </div>
        </div>

        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('PHP Version'); ?></b>
                <span>
                    <?php echo Mage::helper('sheep_debug/config')->getPhpVersion() ?>
                    <a href="<?php echo Mage::helper('sheep_debug/url')->getPhpInfoUrl() ?>">phpinfo()</a>
                </span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('PHP Extensions'); ?></b>
                <?php
                $count = 0;
                foreach ($this->getExtensionStatus()  as $extensionName => $status): ?>
                    <span class="sf-toolbar-status sf-toolbar-status-<?php echo $status ? 'green' : 'red' ?>">
                            <?php echo $extensionName ?>
                        </span>
                    <?php $count++; ?>
                    <?php if (($count % 3) == 0): ?><br><?php endif; ?>
                <?php endforeach ?>
            </div>
        </div>
    </div>
</div>

