<?php
/** @var Sheep_Debug_Block_Controller $this */

$request = $this->getRequestInfo();
$info = $this->getController();

?>

<div class="sf-toolbar-block sf-toolbar-block-request">
    <a href="<?php echo $this->getRequestViewUrl('request') ?>">
        <div class="sf-toolbar-icon">
            <span
                class="sf-toolbar-status sf-toolbar-status-<?php echo $this->getStatusColor() ?>">
                <?php echo $this->getResponseCode() ?>
            </span>
            <span class="sf-toolbar-label">@</span>
            <span class="sf-toolbar-value"><?php echo $this->escapeHtml($info->getRouteName()) ?></span>

            <span class="sf-toolbar-label">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                    <path fill="#AAAAAA" d="M15.1,4.3c-2.1-0.5-4.2-0.5-6.2,0C8.6,4.3,8.2,4.1,8.2,3.8V3.4c0-1.2,1-2.3,2.3-2.3h3c1.2,0,2.3,1,2.3,2.3
                        v0.3C15.8,4.1,15.4,4.3,15.1,4.3z M20.9,14c0,4.9-4,8.9-8.9,8.9s-8.9-4-8.9-8.9s4-8.9,8.9-8.9S20.9,9.1,20.9,14z M16.7,15
                        c0-0.6-0.4-1-1-1H13V8.4c0-0.6-0.4-1-1-1s-1,0.4-1,1v6.2c0,0.6,0.4,1.3,1,1.3h3.7C16.2,16,16.7,15.6,16.7,15z"/>
                </svg>
            </span>
            <span
                class="sf-toolbar-value"><?php echo $this->__('%ss', $this->formatNumber($request->getTime() / 1000)) ?>
            </span>

            <span class="sf-toolbar-label">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="24" viewBox="0 0 24 24"
                     enable-background="new 0 0 24 24" xml:space="preserve">
                    <path fill="#AAAAAA" d="M6,18.9V15h12v3.9c0,0.7-0.2,1.1-1,1.1H7C6.2,20,6,19.6,6,18.9z M20,1C20,1,20,1,20,1c-0.6,0-1,0.5-1,1.1
                        l0,18c0,0.5-0.4,0.9-0.9,0.9H5.9C5.4,21,5,20.6,5,20.1l0-18C5,1.5,4.6,1,4,1c0,0,0,0,0,0C3.5,1,3,1.5,3,2.1l0,18
                        C3,21.7,4.3,23,5.9,23h12.2c1.6,0,2.9-1.3,2.9-2.9l0-18C21,1.5,20.6,1,20,1z M18,9H6v5h12V9z"/>
                    </svg>
            </span>
            <span
                class="sf-toolbar-value"><?php echo $this->helper->formatMemorySize($request->getPeakMemory()) ?>
            </span>
        </div>
    </a>

    <div class="sf-toolbar-info">
        <div class="sf-toolbar-info-piece">
            <b><?php echo $this->__('HTTP Status'); ?></b>
            <span><?php echo $this->getResponseCode() ?></span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b><?php echo $this->__('Module'); ?></b>
            <span><?php echo $info->getModule() ?></span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b><?php echo $this->__('Controller'); ?></b>
            <span><?php echo $info->getReference() ?></span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b><?php echo $this->__('Original Request Path'); ?></b>
            <span><?php echo $this->escapeHtml($info->getRequestOriginalPath()); ?></span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b><?php echo $this->__('Request Path'); ?></b>
            <span><?php echo $this->escapeHtml($info->getRequestPath()); ?></span>
        </div>
    </div>
</div>
