<?php
/* @var $this Sheep_Debug_Block_Db */
$coreHelper = Mage::helper('core');
$info = $this->getRequestInfo();
$models = $info->getModels();
$collections = $info->getCollections();
?>

<div class="sf-toolbar-block">
    <a href="<?php echo $this->getRequestViewUrl('db') ?>">
        <div class="sf-toolbar-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path fill="#AAAAAA" d="M5,8h14c1.7,0,3-1.3,3-3s-1.3-3-3-3H5C3.3,2,2,3.3,2,5S3.3,8,5,8z M18,3.6c0.8,0,1.5,0.7,1.5,1.5S18.8,6.6,18,6.6s-1.5-0.7-1.5-1.5S17.2,3.6,18,3.6z M19,9H5c-1.7,0-3,1.3-3,3s1.3,3,3,3h14c1.7,0,3-1.3,3-3S20.7,9,19,9z M18,13.6
                        c-0.8,0-1.5-0.7-1.5-1.5s0.7-1.5,1.5-1.5s1.5,0.7,1.5,1.5S18.8,13.6,18,13.6z M19,16H5c-1.7,0-3,1.3-3,3s1.3,3,3,3h14c1.7,0,3-1.3,3-3S20.7,16,19,16z M18,20.6c-0.8,0-1.5-0.7-1.5-1.5s0.7-1.5,1.5-1.5s1.5,0.7,1.5,1.5S18.8,20.6,18,20.6z"/>
            </svg>
            <span class="sf-toolbar-value"><?php echo $this->getRequestInfo()->getQueryCount() ?></span>
            <span class="sf-toolbar-info-piece-additional-detail">
                <span class="sf-toolbar-label">in</span>
                <span class="sf-toolbar-value"><?php echo sprintf('%0.0f', $this->getRequestInfo()->getQueryTime() * 1000) ?></span>
                <span class="sf-toolbar-label">ms</span>
            </span>
        </div>
    </a>

    <div class="sf-toolbar-info">
        <?php if ($this->isSqlProfilerEnabled()): ?>
        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('Queries Count'); ?></b>
                <span><?php echo $this->getRequestInfo()->getQueryCount() ?></span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('Queries Total Time'); ?></b>
                <span><?php echo $this->__('%0.0f ms', $this->getRequestInfo()->getQueryTime() * 1000) ?></span>
            </div>
        </div>
        <?php endif; ?>

        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('Models'); ?></b>
                <span><?php echo count($models) ?></span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('Collections'); ?></b>
                <span><?php echo count($collections) ?></span>
            </div>
        </div>

        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b><?php echo $this->__('SQL Profiler Status'); ?></b>
                <?php if ($this->isSqlProfilerEnabled()): ?>
                    <span class="sf-toolbar-status sf-toolbar-status-green">on</span>
                <?php else: ?>
                    <span class="sf-toolbar-status sf-toolbar-status-red">off</span>
                <?php endif ?>
            </div>
        </div>
    </div>
</div>
