<div id="debug-panel"></div>
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '<?= Mage::helper('sheep_debug/url')->getToolbarUrl($this->getRequestInfo()->getToken()) ?>' );
    xhr.onload = function() {
        if (xhr.status === 200) {
            document.getElementById("debug-panel").innerHTML = xhr.responseText;
        } else {
            document.getElementById("debug-panel").innerHTML = 'Request failed.  Returned status of ' + xhr.status;
        }
    };
    xhr.send();
</script>
