<?php
/** @var Mage_Page_Block_Html $this */
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><?php echo $this->escapeHtml($this->getHeaderTitle()) ?></title>
    <link rel="stylesheet" href="<?php echo $this->getSkinUrl('sheep_debug/css/profile.css') ?>">
    <link rel="stylesheet" href="<?php echo $this->getSkinUrl('sheep_debug/css/profile_overwrites.css') ?>">
    <link rel="stylesheet" href="<?php echo $this->getSkinUrl('sheep_debug/css/idea.css') ?>">
    <link rel="stylesheet" href="<?php echo $this->getSkinUrl('sheep_debug/aoe_profiler/css/styles.css') ?>">
    <link rel="stylesheet" href="<?php echo $this->getSkinUrl('sheep_debug/aoe_profiler/css/override.css') ?>">
</head>

<body>
<div id="header">
    <div class="container">
        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svgMageLogo" width="24" xml:space="preserve" height="24" viewBox="0 0 53.692 62" baseProfile="" version="1.1" y="0px" x="0px">
                <g fill="#E85D22">
                    <path d="m26.845 8.857"></path>
                    <polygon points="53.692 15.5 53.692 46.5 46.021 50.929 46.021 19.929 26.845 8.857 7.67 19.928 7.67 50.929 0 46.5 0 15.5 26.845 0"></polygon>
                    <polygon points="26.847 62 15.341 55.356 15.341 24.357 23.011 19.928 23.011 50.929 26.845 53.257 30.682 50.929 30.682 19.929 38.353 24.357 38.353 55.356"></polygon>
                </g>
            </svg>
            Magento <span>Profiler</span>
        </h1>
    </div>
</div>

<?php echo $this->getChildHtml('sheep_debug_summary'); ?>


<div id="content" class="container">
    <div id="main">

        <div id="collector-wrapper">
            <div id="collector-content">
                <?php echo $this->getChildHtml('sheep_debug_content') ;?>
            </div>
        </div>

        <div id="sidebar">
            <?php echo $this->getChildHtml('sheep_debug_sidebar') ?>
        </div>
    </div>
</div>

<script src="<?php echo $this->getJsUrl('prototype/prototype.js') ?>"></script>
<script src="<?php echo $this->getJsUrl('prototype/window.js') ?>"></script>
<script src="<?php echo $this->getJsUrl('scriptaculous/slider.js') ?>"></script>
<script src="<?php echo $this->getSkinUrl('sheep_debug/aoe_profiler/js/profiler.js') ?>"></script>
<script src="<?php echo $this->getSkinUrl('sheep_debug/js/profile.js') ?>"></script>
<script src="<?php echo $this->getSkinUrl('sheep_debug/js/highlight.pack.js') ?>"></script>

<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>
