<?php
/** @var Sheep_Debug_Block_View_Sidebar $this */
$resultsCount = $this->getData('results_count') ?: 0;
?>
<div id="sidebar-shortcuts">
    <div class="shortcuts">
        <a href="#" class="visible-small" onclick="Sfjs.toggleClass(document.getElementById('sidebar'), 'expanded'); return false;">
            <span class="icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="24" viewBox="0 0 24 24" xml:space="preserve">
                    <path fill="#AAAAAA" d="m 2.571,17.5 18.859,0 c 0.87,0 1.57,0.7 1.57,1.57 l 0,1.57 c 0,0.87 -0.7,1.57 -1.57,1.57 l -18.859,0 C 1.702,22.21 1,21.51 1,20.64 L 1,19.07 C 1,18.2 1.702,17.5 2.571,17.5 Z M 1,11.21 1,12.79 c 0,0.86 0.702,1.56 1.571,1.56 l 18.859,0 c 0.87,0 1.57,-0.7 1.57,-1.56 l 0,-1.58 C 23,10.35 22.3,9.644 21.43,9.644 l -18.859,0 C 1.702,9.644 1,10.35 1,11.21 Z M 1,3.357 1,4.929 c 0,0.869 0.702,1.572 1.571,1.572 l 18.859,0 C 22.3,6.501 23,5.798 23,4.929 L 23,3.357 C 23,2.489 22.3,1.786 21.43,1.786 l -18.859,0 C 1.702,1.786 1,2.489 1,3.357 Z" />
                </svg>
            </span>
        </a>

        <a class="btn btn-sm" href="<?php echo $this->getRequestListUrl() ?>"><?php echo $this->__('Last 10'); ?></a>
        <a class="btn btn-sm" href="<?php echo $this->getLatestRequestViewUrl() ?>"><?php echo $this->__('Latest') ?></a>

        <a class="sf-toggle btn btn-sm" data-toggle-selector="#sidebar-search" >
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="24" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                <path fill="#AAAAAA" d="M11.61,0.357c-4.4,0-7.98,3.58-7.98,7.98c0,1.696,0.526,3.308,1.524,4.679l-4.374,4.477
                    c-0.238,0.238-0.369,0.554-0.369,0.891c0,0.336,0.131,0.653,0.369,0.891c0.238,0.238,0.554,0.369,0.891,0.369
                    c0.336,0,0.653-0.131,0.893-0.371l4.372-4.475c1.369,0.996,2.98,1.521,4.674,1.521c4.4,0,7.98-3.58,7.98-7.98
                    S16.01,0.357,11.61,0.357z M17.07,8.337c0,3.011-2.449,5.46-5.46,5.46c-3.011,0-5.46-2.449-5.46-5.46s2.449-5.46,5.46-5.46
                    C14.62,2.877,17.07,5.326,17.07,8.337z"/>
            </svg>
            <span class="hidden-small"><?php echo $this->__('Search'); ?></span>
        </a>

        <div id="sidebar-search" class="<?php if ($this->getData('show_search_form')): ?>sf-toggle-visible<?php endif; ?>">
            <form action="<?php echo $this->getRequestListUrl() ?>" method="get">
                <div class="form-group">
                    <label for="ip"><?php echo $this->__('IP'); ?></label>
                    <input type="text" name="ip" id="ip" value="<?php echo $this->escapeHtml($this->getRequest()->getParam('ip', '')); ?>">
                </div>

                <div class="form-group">
                    <label for="method"><?php echo $this->__('Method'); ?></label>
                    <?php echo $this->getHttpMethodsSelect() ?>
                </div>

                <div class="form-group">
                    <label for="method"><?php echo $this->__('Code'); ?></label>
                    <?php echo $this->getResponseCodeSelect() ?>
                </div>

                <div class="form-group">
                    <label for="path"><?php echo $this->__('Request Path'); ?></label>
                    <input type="text" name="path" id="path" value="<?php echo $this->escapeHtml($this->getRequest()->getParam('path')); ?>">
                </div>

                <div class="form-group">
                    <label for="token"><?php echo $this->__('Token'); ?></label>
                    <input type="text" name="token" id="token" value="<?php echo $this->escapeHtml($this->getRequest()->getParam('token')); ?>">
                </div>

                <div class="form-group">
                    <label for="start"><?php echo $this->__('From'); ?></label>
                    <input type="date" name="start" id="start" value="<?php echo $this->escapeHtml($this->getRequest()->getParam('start')); ?>">
                </div>

                <div class="form-group">
                    <label for="end"><?php echo $this->__('Until'); ?></label>
                    <input type="date" name="end" id="end" value="<?php echo $this->escapeHtml($this->getRequest()->getParam('end')); ?>">
                </div>

                <div class="form-group">
                    <label for="end"><?php echo $this->__('Time gt'); ?></label>
                    <input type="number" min="0" name="time" id="time" value="<?php echo $this->escapeHtml($this->getRequest()->getParam('time')); ?>">
                </div>

                <div class="form-group">
                    <label for="limit"><?php echo $this->__('Results'); ?></label>
                    <?php echo $this->getLimitOptionsSelect() ?>
                    <span style="color: goldenrod;">&nbsp;&nbsp;&nbsp;<?php echo $resultsCount ?> total</span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-sm"><?php echo $this->__('Search'); ?></button>
                </div>
            </form>
        </div>

        <hr>
        <a class="btn btn-sm status-error" title="<?php echo $this->__('Delete all request profiles'); ?>" href="<?php echo Mage::helper('sheep_debug/url')->getPurgeProfilesAction() ?>">
            <?php echo $this->__('Purge All'); ?>
        </a>
    </div>
</div>
