#profiler .metric
{
     background: initial;
     border: initial;
     box-shadow: initial;
     min-width: initial;
     min-height: initial;
}

.p-filter__wrapper
{
     display: flex;
     margin-bottom: 30px;
}

.progress-bar-legend
{
     padding: 10px 0 10px 30px;
}

.progress-bar-legend__own::before
{
     content: '';
     display: inline-block;
     width: 1em;
     height: 1em;
     margin-right: 5px;
     background: #f08080;
     vertical-align: text-top;
}

.progress-bar-legend__sub::before
{
     content: '';
     display: inline-block;
     width: 1em;
     height: 1em;
     margin-right: 5px;
     background: #add8e6;
     vertical-align: text-top;
}
